.b-popup {
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 1000;
  display: none;
}

.b-popup .b-popup-content2 {
  margin: 40px auto 0px auto;
  width: 300px;
  height: 416px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 16px #000000;
  z-index: 1000;
  padding: 16px;
  position: relative;
  
}

.b-popup .b-popup-content {
  margin: 40px auto 0px auto;
  width: 416px;
  height: 216px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 16px #000000;
  z-index: 1000;
  padding: 16px;
  position: relative;
  
}

.b-popup .b-popup-content3 {
  margin: 40px auto 0px auto;
  width: 280px;
  height: 160px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 16px #000000;
  z-index: 1000;
  padding: 16px;
  position: relative;
 
}

.entry-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.input-user-data {
  width: 176px !important;
  font-size: 14px !important;
  height: 2.3rem !important;
}

.entry-button {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #ea2727;
  color: #ea2727;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 3px;
  margin: 8px auto;
  width: 160px;
}

.entry-button:hover {
  background: #ea2727;
  color: white;
}

.close-button {
  font-size: 16px;
  color: #ea2727 !important;
  position: absolute;
  right: 8px;
  top: 4px;
}

.input-field {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0;
}

.row {
  margin-bottom: 4px !important;
}

.entry-label {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.entry-title {
  margin: 4px 0px 16px 0px;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
}

.entry-label-desc {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.new-input-user-data {
  width: 248px !important;
  font-size: 14px !important;
  height: 2.3rem !important;
}
