.terms-of-payment {
  width: 500px;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 40px;
  padding: 24px;
  border-radius: 8px;
}

.other-term {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.phones {
  width: 300px;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 40px;
  padding: 24px;
  border-radius: 8px;
}

.giftcards {
  width: 300px;
  color: white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 40px;
  padding: 24px;
  border-radius: 8px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title,
.subtitle,
.text {
  font-family: "Oswald", sans-serif;
  color: black;
  text-align: justify;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
}

.subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 26px;
}

.text {
  font-weight: 300;
  font-size: 14px;
}
