.scrollup {
  color: rgba(0, 0, 0, 0.6);
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 30px;
  display: none;
  font-size: 60px;
  text-align: center;
  vertical-align: middle;
}

.scrollup:hover {
  color: black;
}
